---
layout: default
title: Home
---

<table class="featured-table">

{% assign sortedCategories = site.categories %}
{% for category in sortedCategories %}
  <tr class="featured-tr">
    <td class="featured-td">
      {% assign category_name = category | first %}
      {% assign words = category_name | split: "-" %}
      <a href="{{ site.github.url }}/category/{{ category_name }}.html">
          {% capture titlecase %}{% for word in words %}{{ word | capitalize }} {% endfor%}{% endcapture %}
          <h2><span>{{ titlecase }}</span></h2>
      </a>
    </td>
  </tr>
{% endfor %}
</table>